
@import './partials/setup';
@import './partials/typography';
@import './partials/profile';
@import './partials/gallery';
@import './partials/modal';

// ----- GENERAL STYLES ----
img {
	max-width: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}
html {
	background: #efefef;
	font-family: $profileFont;
}
#app {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	background: rgba(255,255,255,0.15);
}
header {
	margin-bottom: 3%;
	display: flex;
	justify-content: center;
	button:hover {
		transform: scale(1.05);
	}
}
.public {
	flex-direction: column;
	text-align: center;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: #2d3e73;
    letter-spacing: 5px;
    font-family: $profileFont;
}
#loading {

}
p {
	letter-spacing: 1px;
}
button {
	background: none;
	border: 2px solid black;
    padding: 10px 20px;
    margin-right: 13px;
    letter-spacing: 1px;
    transition: all 0.5s;
    &:focus {
    	border: 2px solid #8ba2ea;
    	outline: 1px solid #8ba2ea;
    }
}
#logout {
	color: #F44336;
}
#googleButton {
	background: #F44336;
	border: 1px solid transparent;
	i {
		padding-right: 16px;
	}
}

// Expanded version of post
.bigPost {
	list-style: none;
	background: white;
	width: 50%;
	display: block;
	border-radius: 6px;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
	i {
		font-size: 1.4rem;
		margin: 0 1%;
	}

	.profilePic {
		width: 20%;
		float: left;
		margin-right: 1%;
	}
	.profilePic {
		margin: 4% 3%;
	}
	h3 {
		margin: 24px 0 5px;
	}
	.postLocation {
		margin: 1%;
	}
	.postPic {
		height: 26vw;
	    padding: 17px;
	    max-height: 320px;
	}
	.postNote {
		padding-left: 17px;
		margin-top: 0;
		i {
			margin-left: 5px;
		}
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	#app {
		width: 95%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#app {
		width: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.wrapper {
		width: 95%;
	}
}