.profileGallery {
	display: flex;
	flex-wrap: wrap;
	padding: 2% 0;
	border-top: 2px solid black;
	margin: 0;
	.post {
		list-style: none;
		display: block;
		width: 32%;
		margin: 0.66%;
		position: relative;
		box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);

		img {
			width: 100%;
			height: 26vw;
			max-height: 414px;
		}
		.removeButton {
			position: absolute;
			top:0;
			right: -13px;
			background: white;
			padding: 7px 10px;
			&:hover {
				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
				transform: translateX(0);
			}
		}
	}
}
@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
}
.homeGallery.wrapper {
	padding: 0;
}
.homeGallery {
	clear: both;
	padding: 2% 0;
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 2px solid black;
	h2 {
		margin: 0 auto;
		display: block;
		padding: 2% 0;
		font-size: 34px;
		letter-spacing: 2px;
	}
	.profileGallery {
		display: flex;
		flex-wrap: wrap;

	}
	.bigPost {
		width: 32%;
		margin-top: 2%;
		h3:hover {
			cursor: pointer;
		}
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 1020px) {
	.homeGallery .bigPost {
		width: 49%;
		.postPic {
			height: 33vw;
			max-height: none;
			padding: 10px;
		}
	}
	.bigPost .postPic {
		max-height: none;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.profileGallery .post {
			width: 48%;
			margin: 1%;
	}
	.profileGallery .post img {
		height: 42vw;
	}
}

@media (max-width: 710px) {
	.homeGallery .bigPost {
		width: 80%;
		margin: 3% auto;
		.postPic {
			height: 65vw;
			padding: 14px;
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.homeGallery .bigPost {
		width: 90%;
		.postPic {
			height: 80vw;
		}
	}
}